In [183]:
%automagic

Automagic is ON, % prefix IS NOT needed for line magics.

In [184]:
import pandas as pd
import numpy as np

In [185]:
folder = '/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'
!ls {folder}

01_Originals_data  02_Desarrollo  README.md

In [186]:
import os
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'

In [187]:
os.chdir(folder)
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'

In [188]:
# Read from excel file with column names stipulated:
# FECHA	RANGO HORARIO	DIA SEMANA	DISTRITO	LUGAR ACCIDENTE	Nº	Nº PARTE	CPFA Granizo	CPFA Hielo	CPFA Lluvia	CPFA Niebla	CPFA Seco	CPFA Nieve	CPSV Mojada	CPSV Aceite	CPSV Barro	CPSV Grava Suelta	CPSV Hielo	CPSV Seca Y Limpia	Nº VICTIMAS *	TIPO ACCIDENTE	Tipo Vehiculo	TIPO PERSONA	SEXO	LESIVIDAD	Tramo Edad
# x
# FECHA   RANGO_HORARIO   DIA_SEMANA      DISTRITO        LUGAR_ACCIDENTE BORRAR  BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR                  BORRAR          BORRAR                  NUM_PERSONAS    TIPO_ACCIDENTE  TIPO_VEHICULO   TIPO_PERSONA    SEXO    LESIVIDAD       TRAMO_EDAD

df_from_xls = pd.read_excel('./01_Originals_data/2010_Accidentalidad.xlsx',
                     sheet_name='LISTADO DE ACCIDENTES MENSUALES',
                     index_col=None,
                     names=['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'LUGAR_ACCIDENTE', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'NUM_PERSONAS', 'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD'])

In [189]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,BORRAR,BORRAR,BORRAR,BORRAR,BORRAR,...,BORRAR,BORRAR,BORRAR,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS

In [65]:
#print(df_from_xls[:5])
#print(df_from_xls.loc[1])
#df_from_xls

In [190]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA              0
RANGO_HORARIO      0
DIA_SEMANA         0
DISTRITO           0
LUGAR_ACCIDENTE    0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
BORRAR             0
NUM_PERSONAS       0
TIPO_ACCIDENTE     0
TIPO_VEHICULO      0
TIPO_PERSONA       0
SEXO               0
LESIVIDAD          0
TRAMO_EDAD         0
dtype: int64

In [191]:
# borrar columnas sobrantes:
#data_xls_sin_columnas = 
del df_from_xls['BORRAR']
# data_xls_sin_columnas = data_xls.drop(['BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR'], axis='columns', inplace=True)

In [192]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS

In [69]:
#print(df_from_xls[:5])
#print(data_xls.loc[1])
#data_xls

In [193]:
df_from_xls.dtypes

FECHA              datetime64[ns]
RANGO_HORARIO              object
DIA_SEMANA                 object
DISTRITO                   object
LUGAR_ACCIDENTE            object
NUM_PERSONAS                int64
TIPO_ACCIDENTE             object
TIPO_VEHICULO              object
TIPO_PERSONA               object
SEXO                       object
LESIVIDAD                  object
TRAMO_EDAD                 object
dtype: object

In [194]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'LUGAR_ACCIDENTE',
       'NUM_PERSONAS', 'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA',
       'SEXO', 'LESIVIDAD', 'TRAMO_EDAD'],
      dtype='object')

In [195]:
# strip leading and trailing space
# no string: df_from_xls['FECHA'] = df_from_xls['FECHA'].str.strip()
df_from_xls['RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.strip()
df_from_xls['DIA_SEMANA'] = df_from_xls['DIA_SEMANA'].str.strip()
df_from_xls['DISTRITO'] = df_from_xls['DISTRITO'].str.strip()
df_from_xls['LUGAR_ACCIDENTE'] = df_from_xls['LUGAR_ACCIDENTE'].str.strip()
# no string: df_from_xls['NUM_PERSONAS'] = df_from_xls['NUM_PERSONAS'].str.strip()
df_from_xls['TIPO_ACCIDENTE'] = df_from_xls['TIPO_ACCIDENTE'].str.strip()
df_from_xls['TIPO_VEHICULO'] = df_from_xls['TIPO_VEHICULO'].str.strip()
df_from_xls['TIPO_PERSONA'] = df_from_xls['TIPO_PERSONA'].str.strip()
df_from_xls['SEXO'] = df_from_xls['SEXO'].str.strip()
df_from_xls['LESIVIDAD'] = df_from_xls['LESIVIDAD'].str.strip()
df_from_xls['TRAMO_EDAD'] = df_from_xls['TRAMO_EDAD'].str.strip()

In [196]:
df_from_xls["FECHA"].unique()

array(['2010-01-01T00:00:00.000000000', '2010-01-02T00:00:00.000000000',
       '2010-01-03T00:00:00.000000000', '2010-01-04T00:00:00.000000000',
       '2010-01-05T00:00:00.000000000', '2010-01-06T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-01-08T00:00:00.000000000',
       '2010-01-09T00:00:00.000000000', '2010-01-10T00:00:00.000000000',
       '2010-01-11T00:00:00.000000000', '2010-01-12T00:00:00.000000000',
       '2010-01-13T00:00:00.000000000', '2010-01-14T00:00:00.000000000',
       '2010-01-15T00:00:00.000000000', '2010-01-16T00:00:00.000000000',
       '2010-01-17T00:00:00.000000000', '2010-01-18T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2010-01-20T00:00:00.000000000',
       '2010-01-21T00:00:00.000000000', '2010-01-22T00:00:00.000000000',
       '2010-01-23T00:00:00.000000000', '2010-01-24T00:00:00.000000000',
       '2010-01-25T00:00:00.000000000', '2010-01-26T00:00:00.000000000',
       '2010-01-27T00:00:00.000000000', '2010-01-28T00:00:00.000000000',
       '2010-01-29T00:00:00.000000000', '2010-01-30T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2010-02-03T00:00:00.000000000',
       '2010-02-04T00:00:00.000000000', '2010-02-05T00:00:00.000000000',
       '2010-02-06T00:00:00.000000000', '2010-02-07T00:00:00.000000000',
       '2010-02-08T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-02-10T00:00:00.000000000', '2010-02-11T00:00:00.000000000',
       '2010-02-12T00:00:00.000000000', '2010-02-13T00:00:00.000000000',
       '2010-02-14T00:00:00.000000000', '2010-02-15T00:00:00.000000000',
       '2010-02-16T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-02-18T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-20T00:00:00.000000000', '2010-02-21T00:00:00.000000000',
       '2010-02-22T00:00:00.000000000', '2010-02-23T00:00:00.000000000',
       '2010-02-24T00:00:00.000000000', '2010-02-25T00:00:00.000000000',
       '2010-02-26T00:00:00.000000000', '2010-02-27T00:00:00.000000000',
       '2010-02-28T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-03-02T00:00:00.000000000', '2010-03-03T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-06T00:00:00.000000000', '2010-03-07T00:00:00.000000000',
       '2010-03-08T00:00:00.000000000', '2010-03-09T00:00:00.000000000',
       '2010-03-10T00:00:00.000000000', '2010-03-11T00:00:00.000000000',
       '2010-03-12T00:00:00.000000000', '2010-03-13T00:00:00.000000000',
       '2010-03-14T00:00:00.000000000', '2010-03-15T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2010-03-17T00:00:00.000000000',
       '2010-03-18T00:00:00.000000000', '2010-03-19T00:00:00.000000000',
       '2010-03-20T00:00:00.000000000', '2010-03-21T00:00:00.000000000',
       '2010-03-22T00:00:00.000000000', '2010-03-23T00:00:00.000000000',
       '2010-03-24T00:00:00.000000000', '2010-03-25T00:00:00.000000000',
       '2010-03-26T00:00:00.000000000', '2010-03-27T00:00:00.000000000',
       '2010-03-28T00:00:00.000000000', '2010-03-29T00:00:00.000000000',
       '2010-03-30T00:00:00.000000000', '2010-03-31T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-04-02T00:00:00.000000000',
       '2010-04-03T00:00:00.000000000', '2010-04-04T00:00:00.000000000',
       '2010-04-05T00:00:00.000000000', '2010-04-06T00:00:00.000000000',
       '2010-04-07T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2010-04-09T00:00:00.000000000', '2010-04-10T00:00:00.000000000',
       '2010-04-11T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-04-13T00:00:00.000000000', '2010-04-14T00:00:00.000000000',
       '2010-04-15T00:00:00.000000000', '2010-04-16T00:00:00.000000000',
       '2010-04-17T00:00:00.000000000', '2010-04-18T00:00:00.000000000',
       '2010-04-19T00:00:00.000000000', '2010-04-20T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2010-04-22T00:00:00.000000000',
       '2010-04-23T00:00:00.000000000', '2010-04-24T00:00:00.000000000',
       '2010-04-25T00:00:00.000000000', '2010-04-26T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-04-28T00:00:00.000000000',
       '2010-04-29T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-05-02T00:00:00.000000000',
       '2010-05-03T00:00:00.000000000', '2010-05-04T00:00:00.000000000',
       '2010-05-05T00:00:00.000000000', '2010-05-06T00:00:00.000000000',
       '2010-05-07T00:00:00.000000000', '2010-05-08T00:00:00.000000000',
       '2010-05-09T00:00:00.000000000', '2010-05-10T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2010-05-12T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-14T00:00:00.000000000',
       '2010-05-15T00:00:00.000000000', '2010-05-16T00:00:00.000000000',
       '2010-05-17T00:00:00.000000000', '2010-05-18T00:00:00.000000000',
       '2010-05-19T00:00:00.000000000', '2010-05-20T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-05-22T00:00:00.000000000',
       '2010-05-23T00:00:00.000000000', '2010-05-24T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2010-05-26T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2010-05-28T00:00:00.000000000',
       '2010-05-29T00:00:00.000000000', '2010-05-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-06-02T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2010-06-04T00:00:00.000000000', '2010-06-05T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-06-07T00:00:00.000000000',
       '2010-06-08T00:00:00.000000000', '2010-06-09T00:00:00.000000000',
       '2010-06-10T00:00:00.000000000', '2010-06-11T00:00:00.000000000',
       '2010-06-12T00:00:00.000000000', '2010-06-13T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-15T00:00:00.000000000',
       '2010-06-16T00:00:00.000000000', '2010-06-17T00:00:00.000000000',
       '2010-06-18T00:00:00.000000000', '2010-06-19T00:00:00.000000000',
       '2010-06-20T00:00:00.000000000', '2010-06-21T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-06-23T00:00:00.000000000',
       '2010-06-24T00:00:00.000000000', '2010-06-25T00:00:00.000000000',
       '2010-06-26T00:00:00.000000000', '2010-06-27T00:00:00.000000000',
       '2010-06-28T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2010-07-02T00:00:00.000000000', '2010-07-03T00:00:00.000000000',
       '2010-07-04T00:00:00.000000000', '2010-07-05T00:00:00.000000000',
       '2010-07-06T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-09T00:00:00.000000000',
       '2010-07-10T00:00:00.000000000', '2010-07-11T00:00:00.000000000',
       '2010-07-12T00:00:00.000000000', '2010-07-13T00:00:00.000000000',
       '2010-07-14T00:00:00.000000000', '2010-07-15T00:00:00.000000000',
       '2010-07-16T00:00:00.000000000', '2010-07-17T00:00:00.000000000',
       '2010-07-18T00:00:00.000000000', '2010-07-19T00:00:00.000000000',
       '2010-07-20T00:00:00.000000000', '2010-07-21T00:00:00.000000000',
       '2010-07-22T00:00:00.000000000', '2010-07-23T00:00:00.000000000',
       '2010-07-24T00:00:00.000000000', '2010-07-25T00:00:00.000000000',
       '2010-07-26T00:00:00.000000000', '2010-07-27T00:00:00.000000000',
       '2010-07-28T00:00:00.000000000', '2010-07-29T00:00:00.000000000',
       '2010-07-30T00:00:00.000000000', '2010-07-31T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-08-02T00:00:00.000000000',
       '2010-08-03T00:00:00.000000000', '2010-08-04T00:00:00.000000000',
       '2010-08-05T00:00:00.000000000', '2010-08-06T00:00:00.000000000',
       '2010-08-07T00:00:00.000000000', '2010-08-08T00:00:00.000000000',
       '2010-08-09T00:00:00.000000000', '2010-08-10T00:00:00.000000000',
       '2010-08-11T00:00:00.000000000', '2010-08-12T00:00:00.000000000',
       '2010-08-13T00:00:00.000000000', '2010-08-14T00:00:00.000000000',
       '2010-08-15T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-08-18T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2010-08-20T00:00:00.000000000',
       '2010-08-21T00:00:00.000000000', '2010-08-22T00:00:00.000000000',
       '2010-08-23T00:00:00.000000000', '2010-08-24T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-26T00:00:00.000000000',
       '2010-08-27T00:00:00.000000000', '2010-08-28T00:00:00.000000000',
       '2010-08-29T00:00:00.000000000', '2010-08-30T00:00:00.000000000',
       '2010-08-31T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-09-03T00:00:00.000000000',
       '2010-09-04T00:00:00.000000000', '2010-09-05T00:00:00.000000000',
       '2010-09-06T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-09-08T00:00:00.000000000', '2010-09-09T00:00:00.000000000',
       '2010-09-10T00:00:00.000000000', '2010-09-11T00:00:00.000000000',
       '2010-09-12T00:00:00.000000000', '2010-09-13T00:00:00.000000000',
       '2010-09-14T00:00:00.000000000', '2010-09-15T00:00:00.000000000',
       '2010-09-16T00:00:00.000000000', '2010-09-17T00:00:00.000000000',
       '2010-09-18T00:00:00.000000000', '2010-09-19T00:00:00.000000000',
       '2010-09-20T00:00:00.000000000', '2010-09-21T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2010-09-23T00:00:00.000000000',
       '2010-09-24T00:00:00.000000000', '2010-09-25T00:00:00.000000000',
       '2010-09-26T00:00:00.000000000', '2010-09-27T00:00:00.000000000',
       '2010-09-28T00:00:00.000000000', '2010-09-29T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-10-02T00:00:00.000000000', '2010-10-03T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-10-05T00:00:00.000000000',
       '2010-10-06T00:00:00.000000000', '2010-10-07T00:00:00.000000000',
       '2010-10-08T00:00:00.000000000', '2010-10-09T00:00:00.000000000',
       '2010-10-10T00:00:00.000000000', '2010-10-11T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-10-13T00:00:00.000000000',
       '2010-10-14T00:00:00.000000000', '2010-10-15T00:00:00.000000000',
       '2010-10-16T00:00:00.000000000', '2010-10-17T00:00:00.000000000',
       '2010-10-18T00:00:00.000000000', '2010-10-19T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-10-21T00:00:00.000000000',
       '2010-10-22T00:00:00.000000000', '2010-10-23T00:00:00.000000000',
       '2010-10-24T00:00:00.000000000', '2010-10-25T00:00:00.000000000',
       '2010-10-26T00:00:00.000000000', '2010-10-27T00:00:00.000000000',
       '2010-10-28T00:00:00.000000000', '2010-10-29T00:00:00.000000000',
       '2010-10-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-11-02T00:00:00.000000000',
       '2010-11-03T00:00:00.000000000', '2010-11-04T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2010-11-06T00:00:00.000000000',
       '2010-11-07T00:00:00.000000000', '2010-11-08T00:00:00.000000000',
       '2010-11-09T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2010-11-11T00:00:00.000000000', '2010-11-12T00:00:00.000000000',
       '2010-11-13T00:00:00.000000000', '2010-11-14T00:00:00.000000000',
       '2010-11-15T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2010-11-17T00:00:00.000000000', '2010-11-18T00:00:00.000000000',
       '2010-11-19T00:00:00.000000000', '2010-11-20T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2010-11-23T00:00:00.000000000', '2010-11-24T00:00:00.000000000',
       '2010-11-25T00:00:00.000000000', '2010-11-26T00:00:00.000000000',
       '2010-11-27T00:00:00.000000000', '2010-11-28T00:00:00.000000000',
       '2010-11-29T00:00:00.000000000', '2010-11-30T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2010-12-02T00:00:00.000000000',
       '2010-12-03T00:00:00.000000000', '2010-12-04T00:00:00.000000000',
       '2010-12-05T00:00:00.000000000', '2010-12-06T00:00:00.000000000',
       '2010-12-07T00:00:00.000000000', '2010-12-08T00:00:00.000000000',
       '2010-12-09T00:00:00.000000000', '2010-12-10T00:00:00.000000000',
       '2010-12-11T00:00:00.000000000', '2010-12-12T00:00:00.000000000',
       '2010-12-13T00:00:00.000000000', '2010-12-14T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-16T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-12-18T00:00:00.000000000',
       '2010-12-19T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-22T00:00:00.000000000',
       '2010-12-23T00:00:00.000000000', '2010-12-24T00:00:00.000000000',
       '2010-12-25T00:00:00.000000000', '2010-12-26T00:00:00.000000000',
       '2010-12-27T00:00:00.000000000', '2010-12-28T00:00:00.000000000',
       '2010-12-29T00:00:00.000000000', '2010-12-30T00:00:00.000000000',
       '2010-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [197]:
df_from_xls["RANGO_HORARIO"].unique()

array(['DE 00:00 A 00:59', 'DE 1:00 A 1:59', 'DE 2:00 A 2:59',
       'DE 4:00 A 4:59', 'DE 5:00 A 5:59', 'DE 8:00 A 8:59',
       'DE 9:00 A 9:59', 'DE 20:00 A 20:59', 'DE 21:00 A 21:59',
       'DE 6:00 A 6:59', 'DE 11:00 A 11:59', 'DE 12:00 A 12:59',
       'DE 13:00 A 13:59', 'DE 14:00 A 14:59', 'DE 15:00 A 15:59',
       'DE 18:00 A 18:59', 'DE 19:00 A 19:59', 'DE 22:00 A 22:59',
       'DE 16:00 A 16:59', 'DE 17:00 A 17:59', 'DE 23:00 A 23:59',
       'DE 7:00 A 7:59', 'DE 10:00 A 10:59', 'DE 3:00 A 3:59'],
      dtype=object)

In [198]:
df_from_xls["DIA_SEMANA"].unique()

array(['VIERNES', 'SABADO', 'DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES',
       'JUEVES'], dtype=object)

In [199]:
df_from_xls["DISTRITO"].unique()

array(['CHAMARTIN', 'PUENTE DE VALLECAS', 'CHAMBERI', 'RETIRO',
       'SALAMANCA', 'CARABANCHEL', 'CIUDAD LINEAL', 'MONCLOA-ARAVACA',
       'TETUAN', 'VILLA DE VALLECAS', 'MORATALAZ', 'ARGANZUELA',
       'SAN BLAS', 'VILLAVERDE', 'HORTALEZA', 'FUENCARRAL-EL PARDO',
       'VICALVARO', 'USERA', 'LATINA', 'BARAJAS', 'CENTRO'], dtype=object)

In [200]:
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [201]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [202]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [203]:
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [204]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [205]:
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [206]:
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [207]:
df_from_xls['BORRAR'], df_from_xls['RESTO_RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.split(' ', 1).str

In [208]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'LUGAR_ACCIDENTE',
       'NUM_PERSONAS', 'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA',
       'SEXO', 'LESIVIDAD', 'TRAMO_EDAD', 'BORRAR', 'RESTO_RANGO_HORARIO'],
      dtype='object')

In [209]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,BORRAR,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,DE,00:00 A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,DE,00:00 A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,DE,00:00 A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,DE,1:00 A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,DE,1:00 A 1:59

In [210]:
# borrar columnas sobrantes:
del df_from_xls['BORRAR']

In [211]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00 A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00 A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00 A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00 A 1:59

In [212]:
df_from_xls['HORA'], df_from_xls['BORRAR'] = df_from_xls['RESTO_RANGO_HORARIO'].str.split(' ', 1).str

In [213]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'LUGAR_ACCIDENTE',
       'NUM_PERSONAS', 'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA',
       'SEXO', 'LESIVIDAD', 'TRAMO_EDAD', 'RESTO_RANGO_HORARIO', 'HORA',
       'BORRAR'],
      dtype='object')

In [214]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO,HORA,BORRAR
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59,00:00,A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00 A 00:59,00:00,A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00 A 00:59,00:00,A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00 A 1:59,1:00,A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00 A 1:59,1:00,A 1:59

In [215]:
# borrar columnas sobrantes:
del df_from_xls['RANGO_HORARIO']
del df_from_xls['RESTO_RANGO_HORARIO']
del df_from_xls['BORRAR']

In [216]:
df_from_xls.head()

,FECHA,DIA_SEMANA,DISTRITO,LUGAR_ACCIDENTE,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,HORA
0,2010-01-01,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00
1,2010-01-01,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00
2,2010-01-01,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00
3,2010-01-01,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00
4,2010-01-01,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00

In [217]:
df_from_xls.columns

Index(['FECHA', 'DIA_SEMANA', 'DISTRITO', 'LUGAR_ACCIDENTE', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD', 'HORA'],
      dtype='object')

In [218]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA              0
DIA_SEMANA         0
DISTRITO           0
LUGAR_ACCIDENTE    0
NUM_PERSONAS       0
TIPO_ACCIDENTE     0
TIPO_VEHICULO      0
TIPO_PERSONA       0
SEXO               0
LESIVIDAD          0
TRAMO_EDAD         0
HORA               0
dtype: int64

In [219]:
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [220]:
df_from_xls['BORRAR'], df_from_xls['EDAD'] = df_from_xls['TRAMO_EDAD'].str.split(' ', 1).str

In [221]:
df_from_xls["EDAD"].unique()

array(['18 A 20 AÑOS', '50 A 54 AÑOS', '40 A 44 AÑOS', '25 A 29 AÑOS',
       '30 A 34 ANOS', '21 A 24 AÑOS', '35 A 39 AÑOS', '60 A 64 AÑOS',
       '45 A 49 AÑOS', '0 A 5 AÑOS', nan, '70 A 74 AÑOS',
       'MAS DE 74 AÑOS', '10 A 14 AÑOS', '6 A 9 AÑOS', '55 A 59 AÑOS',
       '65 A 69 AÑOS', '15 A 17 AÑOS'], dtype=object)

In [222]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                 0
DIA_SEMANA            0
DISTRITO              0
LUGAR_ACCIDENTE       0
NUM_PERSONAS          0
TIPO_ACCIDENTE        0
TIPO_VEHICULO         0
TIPO_PERSONA          0
SEXO                  0
LESIVIDAD             0
TRAMO_EDAD            0
HORA                  0
BORRAR                0
EDAD               2344
dtype: int64

In [223]:
# borrar columnas sobrantes:
del df_from_xls['BORRAR']
del df_from_xls['TRAMO_EDAD']

In [224]:
df_from_xls['TRAMO_EDAD'], df_from_xls['BORRAR'] = df_from_xls['EDAD'].str.split(' ', 1).str

In [225]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 'MAS', '10', '6', '55', '65', '15'], dtype=object)

In [226]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                 0
DIA_SEMANA            0
DISTRITO              0
LUGAR_ACCIDENTE       0
NUM_PERSONAS          0
TIPO_ACCIDENTE        0
TIPO_VEHICULO         0
TIPO_PERSONA          0
SEXO                  0
LESIVIDAD             0
HORA                  0
EDAD               2344
TRAMO_EDAD         2344
BORRAR             2344
dtype: int64

In [227]:
# borrar columnas sobrantes:
del df_from_xls['EDAD']
del df_from_xls['BORRAR']

In [228]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                 0
DIA_SEMANA            0
DISTRITO              0
LUGAR_ACCIDENTE       0
NUM_PERSONAS          0
TIPO_ACCIDENTE        0
TIPO_VEHICULO         0
TIPO_PERSONA          0
SEXO                  0
LESIVIDAD             0
HORA                  0
TRAMO_EDAD         2344
dtype: int64

In [ ]:
# crear nueva columna por vectorizacion numpy concatenando los valores de la columna fecha y la columna hora
# df['nueva']=np:concat(df['col1'] df['col2'])

In [74]:
#df_from_xls.duplicated()
#df_from_xls.duplicated().sum()
#df_from_xls.drop_duplicates()

In [54]:
# convertimos el excel a csv sin incluir columna de indice por defecto
# df_from_xls.to_csv("./csv_files/2010.csv", sep= ",", encoding='utf-8', index=False)

In [44]:
# !ls -ltr csv_files/